<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Questify">
        <activity
            android:name=".presentation.activity.AllianceDecisionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.AllianceActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".presentation.activity.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.ViewTasksActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.UserStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CreateTaskCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".application.service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".application.service.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.team21.questify.ACTION_ACCEPT_INVITATION" />
                <action android:name="com.team21.questify.ACTION_DECLINE_INVITATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>